<!DOCTYPE html>
<html>
<head>
    <title> Mitfahrgelegenheit</title>
    <link rel="stylesheet" type"text/css" href="/css/stylei.css">
</head>
<header>
    <ul>
        <li><a href="http://localhost:3001">Home</a></li>
        <li><a href="http://localhost:3001/search">Fahrten</a></li>
        <li><a href="http://localhost:3001/newfahrt">Fahrt erstellen</a></li>
        <li><a href="about.asp">Kontakt</a></li>
        <li><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mid">
        <div class="in l">
            <p>Fahrten ansehen</p>
        </div>
        <div class="in r">
           <p>Fahrten erstellen</p>
        </div>
    </div>
<footer>
    Copyright Igelex
</footer>
</body>

</html>
