<!DOCTYPE html>
<html>
<head>
    <title> Mitfahrgelegenheit</title>
    <link rel="stylesheet" type"text/css" href="/css/stylei.css">
</head>
<header>
    <ul>
        <li><a href="http://localhost:3001">Home</a></li>
        <li><a href="http://localhost:3001/search">Fahrten</a></li>
        <li><a href="http://localhost:3001/newuser">Fahrt erstellen</a></li>
        <li><a href="http://localhost:3001/usverwaltung">User</a></li>
        <li><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mid">
        <div class="in l">
            <a href="/search" class"link">Fahrten ansehen</a>
        </div>
        <div class="in r">
           <a href="/newuser" class"link">Fahrten erstellen</a>
        </div>
    </div>
<footer>
    Copyright Igelex
</footer>
</body>

</html>
