<!DOCTYPE html>
<html>
<head>
    <title> Mitfahrgelegenheit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<header>
    <ul id="head">
        <li class="he"><a href="http://localhost:3001">Home</a></li>
        <li class="he"><a href="http://localhost:3001/search">Fahrten</a></li>
        <li class="he"><a href="http://localhost:3001/newuser">Fahrt erstellen</a></li>
        <li class="he"><a href="http://localhost:3001/usverwaltung">User</a></li>
        <li class="he"><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mser">
        <div id="dnew">
          <form id="ser" action="http://localhost:3001/fahrten" method="POST">
              <p>Geben Sie die Fahrt ein</p>
              <p>Ihre Benutzer-ID: <%= u_id %></p>
              <label class="ser" for="start">Start</label><br>
              <input type="text" id="start" name="start" required><br>
              <label class="ser" for="ziel">Ziel</label><br>
              <input type="text" id="ziel" name="ziel" required><br>
              <label class="ser" for="plaetze">Plätze</label><br>
              <input type="text" id="plaetze" name="plaetze" required><br>
              <label class="ser" for="u_id">Benutzer_ID</label><br>
              <input type="text" id="u_id" name="u_id" required><br>
              <input type="submit" name="submit" value="Speichern">
          </form>
        </div>
    </div>
<footer>
    Copyright Igelex
</footer>
</body>

</html>
