<!DOCTYPE html>
<html>
<head>
    <title> Mitfahrgelegenheit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <script type="text/javascript">
    $(function(){
      $("#new").click(function(event) {
        alert("New ++++++++");
        //Abschicken und Seite neu laden unterbinden
        event.preventDefault();
        var newUser = {
          vorname: $("#vorname").val(),
          nachname: $("#nachname").val(),
          tel: $("#tel").val(),
          mobil: $("#mobil").val(),
          email: $("#email").val(),
          car: $("#car").val()
        };
        $.ajax({
          type: 'POST',
          host: 'localhost',
          url: '/users',
          contentType: 'application/json',
          data: JSON.stringify(newUser),
          success: function(data){
            var u = data;
            $('#u').html(u.id);
            alert('success');
            //fenster einblenden
            $('#overlay').fadeIn(400,
              function(){
                $('#modal_form')
                  .css('display', 'block')
                  .animate({opacity: 1, top: '50%'}, 200);
              });

              $('#modal_close, #overlay').click( function(){
                window.location.href='http://localhost:3001/newfahrt/'+u.id;
              });
          },
          error: function(xhr, options, e) {
    			$('#u').html(e);
				}
        });
        });
      });
    </script>
</head>
<header>
    <ul id="head">
        <li class="he"><a href="http://localhost:3001">Home</a></li>
        <li class="he"><a href="http://localhost:3001/search">Fahrten</a></li>
        <li class="he"><a href="http://localhost:3001/newuser">Fahrt erstellen</a></li>
        <li class="he"><a href="http://localhost:3001/usverwaltung">User</a></li>
        <li class="he"><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mser">
        <div id="dnew">
          <p>Geben Sie Ihre persönlichen Daten ein</p>
          <form id="ser">
              <label class="ser" for="vorname">Vorname</label><br>
              <input type="text" id="vorname" name="vorname" required><br>
              <label class="ser" for="vorname">Nachname</label><br>
              <input type="text" id="nachname" name="nachname"><br>
              <label class="ser" for="tel">Telefon</label><br>
              <input type="text" id="tel" name="tel"><br>
              <label class="ser" for="mobil">Handy</label><br>
              <input type="text" id="mobil" name="mobil"><br>
              <label class="ser" for="email">Email</label><br>
              <input type="text" id="email" name="email"><br>
              <label class="ser" for="car">Fahrzeug</label><br>
              <input type="text" id="car" name="car"><br>
              <input type="submit" id="new" name="submit" value="Speichern">
          </form>
          <form id="weiter">
              <label class="ser" for="mail">Oder Ihre ID eingeben</label><br>
              <input type="text" id="mail" name="u_id">
              <input type="button" onclick="getForm()" value="Weiter">
          </form>

        </div>
    </div>
<footer>
    Copyright Igelex
</footer>
<!-- FENSTER -->

<div id="modal_form">
      <span id="modal_close">X</span>
            <p id="mel">
                Neuer Benutzer erfolgreich erstellt
            </p>
            <p>
              Ihre Benutzer-Id:<span id="u" style="color: #37A953;"> </span>
            </p>
            <p>
              Bawahren Sie diese gut auf, um auf Ihre persönlichen Daten <br>
              zugreifen zu können!
            </p>
</div>
<div id="overlay"></div>

<script type="text/javascript">
  function getForm(){
    var id = document.getElementById('mail').value;
    document.location.href = 'http://localhost:3001/newfahrt/' + id;
  }
</script>
</body>

</html>
