<!DOCTYPE html>
<html>
<head>
    <title> Mitfahrgelegenheit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <script type="text/javascript">
    $(function(){
      $("#sub").click(function(event) {
        alert("New ++++++++");
        //Abschicken und Seite neu laden unterbinden
        event.preventDefault();
        var newUser = {
          vorname: $("#vorname").val(),
          nachname: $("#nachname").val(),
          tel: $("#tel").val(),
          mobil: $("#mobil").val(),
          mail: $("#email").val(),
          car: $("#car").val()
        };
        $.ajax({
          type: 'POST',
          host: 'localhost',
          url: '/users',
          contentType: 'application/json',
          data: JSON.stringify(newUser),
          success: function(newUser){
            alert('success');
            console.log(JSON.stringify(newUser));
          }
        });
      });
    });
    </script>
</head>
<header>
    <ul id="head">
        <li class="he"><a href="http://localhost:3001">Home</a></li>
        <li class="he"><a href="http://localhost:3001/search">Fahrten</a></li>
        <li class="he"><a href="http://localhost:3001/newuser">Fahrt erstellen</a></li>
        <li class="he"><a href="http://localhost:3001/usverwaltung">User</a></li>
        <li class="he"><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mser">
        <div id="dnew">
          <p>Geben Sie Ihre persönlichen Daten ein</p>
          <form id="ser">
              <label class="ser" for="vorname">Vorname</label><br>
              <input type="text" id="vorname" name="vorname" required><br>
              <label class="ser" for="vorname">Nachname</label><br>
              <input type="text" id="nachname" name="nachname"><br>
              <label class="ser" for="tel">Telefon</label><br>
              <input type="text" id="tel" name="tel"><br>
              <label class="ser" for="mobil">Handy</label><br>
              <input type="text" id="mobil" name="mobil"><br>
              <label class="ser" for="email">Email</label><br>
              <input type="text" id="email" name="email"><br>
              <label class="ser" for="car">Fahrzeug</label><br>
              <input type="text" id="car" name="car"><br>
              <input type="submit" id="sub" name="submit" value="Speichern">
          </form>
          <form id="weiter">
              <label class="ser" for="mail">Oder Ihre ID eingeben</label><br>
              <input type="text" id="mail" name="u_id">
              <input type="button" onclick="location.href='http://localhost:3001/newfahrt/10'" value="Weiter">
          </form>

        </div>
    </div>
<footer>
    Copyright Igelex
</footer>
</body>

</html>
