<!DOCTYPE html>
<html>
<head>
    <title> Mitfahrgelegenheit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">s
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
      $("#ser").submit(function(event) {
        //Abschicken und Seite neu laden) unterbinden
        event.preventDefault();
        var newFahrt = {
          start: $("#start").val(),
          ziel: $("#ziel").val(),
          plaetze: $("#plaetze").val(),
        };
        $.ajax({
          type: 'PUT',
          host: 'localhost',
          url: '/fahrt/'+ <%= fahrtID %>,
          contentType: 'application/json',
          data: JSON.stringify(newFahrt)
        }).done(function (data) {
          // Bei Erfolg
            window.location.href = 'http://localhost:3001/message'
            alert("Erfolgreich:" + data);
        }).fail(function() {
          // Bei Fehler
            alert("Fehler!");
        }).always(function() {
            // Immer
            alert("Beendet!");
        });
      });
    </script>
</head>
<header>
    <ul id="head">
        <li class="he"><a href="http://localhost:3001">Home</a></li>
        <li class="he"><a href="http://localhost:3001/search">Fahrten</a></li>
        <li class="he"><a href="http://localhost:3001/newuser">Fahrt erstellen</a></li>
        <li class="he"><a href="http://localhost:3001/usverwaltung">User</a></li>
        <li class="he"><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mser">
        <div id="dputf">
          <p>Fahrtdaten</p>
          <ul class="list">
              <li>Ihre ID: <%= fahrtID %> </li><br>
          </ul>
          <form id="ser">
            <label class="ser" for="start">Start</label><br>
            <input type="text" id="start" name="start"><br>
            <label class="ser" for="ziel">Ziel</label><br>
            <input type="text" id="ziel" name="ziel"><br>
            <label class="ser" for="plaetze">Plätze</label><br>
            <input type="text" id="plaetze" name="plaetze"><br>
            <input type="submit" name="submit" value="Speichern">
          </form>
        </div>
    </div>
<footer>
    Copyright Igelex
</footer>
</body>

</html>
