<!DOCTYPE html>
<html>
<head>
    <title> Mitfahrgelegenheit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
    $(function(){
      $("#sub").click(function(event) {
        //Abschicken und Seite neu laden unterbinden
        alert('in put '+ fahrtID);
        event.preventDefault();
        var fahrt=[];
        var u_id;
        alert("fahrt holen");
        $.ajax({
          type: 'GET',
          host: 'localhost',
          url: '/fahrten/' + <%= fahrtID %> ,
          data:{start: 'val1',
                ziel: 'val2',
                plaetze: 'val3',
                u_id: 'val4'
                },
          dataType: 'json',
          success: function(data){
            alert(data);
            u_id = data.u_id;
            alert('U_id: 'u_id);
            console.log(JSON.stringify(data));
          }
        });
        var newFahrt = {
        start: $("#start").val(),
        ziel: $("#ziel").val(),
        plaetze: $("#plaetze").val(),
        u_id: u_id
        };
        alert("fahrt puten");
        $.ajax({
          type: 'PUT',
          host: 'localhost',
          url: '/fahrt/' + <%= fahrtID %> ,
          contentType: 'application/json',
          data: JSON.stringify(newFahrt),
          success: function(newFahrt){
            alert('success');
            console.log(JSON.stringify(newFahrt));
          }
        });
      });
    });
    </script>
</head>
<header>
    <ul id="head">
        <li class="he"><a href="http://localhost:3001">Home</a></li>
        <li class="he"><a href="http://localhost:3001/search">Fahrten</a></li>
        <li class="he"><a href="http://localhost:3001/newuser">Fahrt erstellen</a></li>
        <li class="he"><a href="http://localhost:3001/usverwaltung">User</a></li>
        <li class="he"><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mser">
        <div id="dputf">
          <p>Fahrtdaten</p>
          <ul class="list">
              <li>Ihre ID: <%= fahrtID %> </li><br>
          </ul>
          <form id="ser">
            <label class="ser" for="start">Start</label><br>
            <input type="text" id="start" name="start"><br>
            <label class="ser" for="ziel">Ziel</label><br>
            <input type="text" id="ziel" name="ziel"><br>
            <label class="ser" for="plaetze">Plätze</label><br>
            <input type="text" id="plaetze" name="plaetze"><br>
            <input type="submit" id="sub" name="submit" value="Speichern">
          </form>
        </div>
    </div>
<footer>
    Copyright Igelex
</footer>
</body>

</html>
