<!DOCTYPE html>
<html>
<head>
    <title> Mitfahrgelegenheit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/jquery" type="text/javascript"></script>
    <script>
    $(function(){
      $("#putu").click(function(event) {
        //Abschicken und Seite neu laden unterbinden
        event.preventDefault();
        var newUser = {
          vorname: $("#vorname").val(),
          nachname: $("#nachname").val(),
          tel: $("#tel").val(),
          mobil: $("#mobil").val(),
          email: $("#email").val(),
          car: $("#car").val()
        };
        alert("user puten");

        $.ajax({
          type: 'PUT',
          host: 'localhost',
          url: '/users/' + <%= userID %> ,
          contentType: 'application/json',
          data: JSON.stringify(newUser),
          success: function(data){
            alert(data);
            $('#mel').html(data);
            $('#overlay').fadeIn(400,
              function(){
                $('#modal_form')
                  .css('display', 'block')
                  .animate({opacity: 1, top: '50%'}, 200);
              });
              $('#modal_close, #overlay').click( function(){
                window.location.href='http://localhost:3001';
              });
          },
          error: function(xhr, options, e) {
    			$('#mel').html(e);
          }
        });
      });
    });
  </script>
</head>
<header>
    <ul id="head">
        <li class="he"><a href="http://localhost:3001">Home</a></li>
        <li class="he"><a href="http://localhost:3001/search">Fahrten</a></li>
        <li class="he"><a href="http://localhost:3001/newuser">Fahrt erstellen</a></li>
        <li class="he"><a href="http://localhost:3001/usverwaltung">User</a></li>
        <li class="he"><a href="about.asp">About</a></li>
    </ul>
</header>
<body>
    <div id="mser">
        <div id="dnew">
          <p>Geben Sie Ihre persönlichen Daten ein</p>
          <ul class="list">
              <li>Ihre ID: <%= userID %> </li><br>
          </ul>
          <form id="ser">
              <label class="ser" for="vorname">VorName</label><br>
              <input type="text" id="vorname" name="vorname" required><br>
              <label class="ser" for="vorname">Nachname</label><br>
              <input type="text" id="nachname" name="nachname" required><br>
              <label class="ser" for="tel">Telefon</label><br>
              <input type="text" id="tel" name="tel" required><br>
              <label class="ser" for="mobil">Handy</label><br>
              <input type="text" id="mobil" name="mobil" required><br>
              <label class="ser" for="email">Email</label><br>
              <input type="text" id="email" name="email" required><br>
              <label class="ser" for="car">Fahrzeug</label><br>
              <input type="text" id="car" name="car" required><br>
              <input type="submit" id="putu" name="submit" value="Speichern">
          </form>
        </div>
    </div>

    <!-- FENSTER -->

    <div id="modal_form">
          <span id="modal_close">X</span>
                <p id="mel">
                    Meldung
                </p>
    </div>
    <div id="overlay"></div>

<footer>
    Copyright Igelex
</footer>
</body>

</html>
